[Desktop Entry]
Comment=
Exec=sh -c 'kill -STOP $(pgrep -f "spotify --type=renderer")'
Icon=spotify
Name=Stop Spotify UI
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
