[Desktop Entry]
Comment=
Exec=sandisk-zpool-export
Icon=usb-creator-kde
Name=Export sandisk zpool
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
