[user]
	name = Lilian Mallardeau
	email = lilianmallardeau@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
[alias]
	yolo = !git commit -m \"$(curl -sL whatthecommit.com/index.txt)\"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
